name: Deploy Fake
on:
  wrorkflow_call:
jobs:
      deploy-kubernetes:
        runs-on: ubuntu-latest
        steps:
            - name: Deploy no ambiente
              run: echo "Executando o deploy no ambiente de desenvolvimento"
